#image,
#image1,
#image2,
#image3 {
  width: 250px;
  height: 130px;
}

#image:hover {
  filter: drop-shadow(12px 12px 14px white) grayscale(100%);
  translate: 50px 50px 50px;
}

#image1:hover {
  filter: drop-shadow(12px 12px 14px white);
}

#image2:hover {
  translate: 50px 50px 50px;
}

#image3:hover {
  filter: grayscale(100%);
}
